---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import SobreEmpresa from "../components/SobreEmpresa.astro";
import Soluciones from "../components/Soluciones.astro";
import Servicios from "../components/Servicios.astro";
import Casos from "../components/Casos.astro";
import PorQue from "../components/PorQue.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <SobreEmpresa />
    <Soluciones />
    <Servicios />
    <Casos />
    <PorQue />
    <Contacto />
  </main>
  <Footer />
</Layout>
